body{
    background: #E5E5E5;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

img{
    z-index: -1;
}
button{
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    outline: none;
    border: none;
}
h1 {
    margin-bottom: 0px;
    font-weight: 300;
}
h3{
    margin-top: 0px;
    font-weight: 300;
}
input{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
    border-style: none;
    padding: 0px 20px;
    margin-right: 10px;
}
button{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    line-height: 25px;
    background-color: rgb(72, 57, 102);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}
button:hover{
    background-color: rgba(72, 57, 102,0.8);
}
.heading {
    font-family: Merriweather Sans;
    font-style: normal;
}
strong{
    color: #56CCF2;
}
.gp10{
    position: absolute;
    width: 150px;
    height: 150px;
    left:55%;
    top: 5%;
}
.gp11{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40%;
    right: 10%;
}
.gp12{
    position: absolute;
    width: 210px;
    height: 165px;
    right: 0%;
    top: 70%;
}
.gp13{
    position: absolute;
    width: 165px;
    height: 165px;
    left: 60%;
    top: 70%;
}
.gp14{
    position: absolute;
    width: 190px;
    height: 120px;
    left: 50%;
    bottom:0% ;

}
.gp15{
    position: absolute;
    width: 115px;
    height: 115px;
    left: 40%;
    bottom: 10%;
}
.gp16{
    position: absolute;
    width: 160px;
    height: 120px;
    left: 15%;
    bottom: 12%;
}
.gp17{
    position: absolute;
    width: 38px;
    height: 18px%;
    left: 8%;
    top: 25%;
}
.gp18{
    position: absolute;
    width: 240px;
    height: 165px;
    left: -4%;
    top: 70%;
}
.gp19{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 75%;
    top: 25%;
}
.ads{
    width: 45%;
    height: 35%;
    background-color:#C4C4C4;
    max-width: max-content;
    position: absolute;
    left: 45%;
    top: 8%;
    margin-left: 5%;
}
.ads2{
    top: 47%;
    /* margin-bottom: 5%; */
}
.pic{
    width: 35%;
    height: 32%;
    margin: 0px 0px;;
}
.links{
    width: 42%;
    height: max-content;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
a > span {
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 300;
    font-size:20px;
    line-height: 45px;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    margin-left: 7%;
}
.links>a {
    width: 100%;
    display: block;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
i{
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
    color: black;
}
.pagination {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  } 
  
   footer>div>a {
    width: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: white;
  }
  
  .pagination a.active {
    background-color: #56CCF2;
    color: white;
    border: 1px solid #56CCF2;
  }
  
  .pagination a:hover {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }